.logo-wn {color: #000000; font-size:2.5em;}
.logo-wn span {color: #144663;}

#footer {
	text-align:center;
        
	margin-top: 30px;
}
#footer li {
	list-style: none;
	display: inline;
}
#footer a {padding: 10px; color:#999999;}

a:focus, a:hover {color:#e26003;}
a {color:#191919;text-decoration:underline;}

select {border: 1px solid #BBBBBB;}
.required {color:red;}
.l {float:left;}
.level-0 {padding-left:0px;}
.level-1 {padding-left:10px;}
.level-2 {padding-left:15px;}
.level-3 {padding-left:20px;}
.level-4 {padding-left:25px;}
.level-5 {padding-left:30px;}
.level-6 {padding-left:35px;}
.level-7 {padding-left:40px;}
.level-8 {padding-left:45px;}
.level-9 {padding-left:50px;}


.fileUploadProgress .progressWrapper {
	float:left;
	width:106px;
	height:106px;
	margin-right:20px;
	margin-bottom:10px;
	border: 1px #ccc solid;
}
.fileUploadProgress {background-color:#fafafa; border-top: 1px solid #ccc; padding:3px;}
.fileUploadProgress .delete {position:absolute;left:0;top:0;}
.fileUploadProgress .progressBarInProgress {background-repeat:no-repeat;background-image:url('/obraz/loading.gif');background-color:#daf1cc;position:absolute;left:0;top:0;}
.fileUploadProgress .progressContainer {overflow:hidden; position:absolute; border:3px #fff solid; width:100px;height:100px;text-align:center;}
.fileUploadProgress .red {border-color:red;}
.fileUploadProgress .green {border-color:green;}
.fileUploadProgress .selected {border-color:#000000;}
.fileUploadProgress .upload-thumb {cursor:pointer;}


button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span { display:block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
button.button span span { border:0; padding:0; }

button.btn-c2a span { height:40px; border:0; background:url(/obraz/btn.gif) 0 0 no-repeat; padding:0 0 0 9px; font:bold 15px/40px Arial, Helvetica, sans-serif; color:#fff; }
button.btn-c2a span span { background-position:100% 0; padding:0 25px 0 16px; }

button.btn-c2b span { height:40px; border:0; background:url(/obraz/btn.gif) 0 -40px no-repeat; padding:0 0 0 9px; font:bold 15px/40px Arial, Helvetica, sans-serif; color:#000000; }
button.btn-c2b span span { background-position:100% -40px; padding:0 25px 0 16px; }


.draftWrap .toolbox {
	border: 1px #cccccc solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fafafa; 
	padding:3px; 
	float:right;
}

.adoffer {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #ccc;
	
}

.adoffer .thumb {
	width: 100px;
	height: 100px;
}

.adoffer a {
	text-decoration: none;
	color: #a45115;
}

.adoffer .price {
	text-align:right;
	font-weight: bold;
}

.adoffer .priceType {
	text-align:right;
	color:#777777;
}
.adoffer .adCreatedAt {
	text-align:right;
}

.highlighted {
	background-color: #e5efb4;
}
.highlighted .title a {
	color: #9a2a6f;
	font-weight:bold;
}


.pager { text-align: right; padding-top:10px; padding-bottom:10px;}
.pager a {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-weight:normal;border:1px #cccccc solid; cursor: pointer; color: #9c9c9c !important; font: bold 12px Arial, Helvetica, sans-serif; padding: 6px 7px; text-decoration: none; }
.pager a:hover { text-decoration: underline; }
.pager a.prev {border:0px!important; font-weight:normal;}
.pager a.next {border:0px!important; font-weight:normal;}
.pager a.mid {border:0px!important; font-weight:bold;}
.pager a.active { text-decoration: underline; color: black !important; border-color:#A45115; background-color:#f0f0f0;}



.filter {
	border: 1px #cccccc solid;
	background-color: #fafafa;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
        width: 770px;
        margin-bottom: 10px;
}
.filter #filterHead img {
	vertical-align: middle;
	width: 35px;
}

.filter .in {
	width: 200px;
}

.filter .in input {
	font-size: 14px;
}

.filter #filterHeadInfo {
	float:right;
	color: #cccccc;
}

.filter-active {border-color:#92cae4;background: #d5edf8; color: #205791;}
.filter-active a   { color: #514721; }
.filter-error { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.filter-error a { color: #8a1f11; }

.offerimages div {
	margin-bottom: 5px;
}
.offerimages .first {
	border: 1px #ccc solid;
	background-color:#fff;
	padding: 3px;
	line-height: 0px;
	text-align: center;
}

.offerimages {margin-bottom:10px;}
.offerimages .l {
	width: 100px;
	margin-right: 54px;
	border: 1px #ccc solid;
	background-color:#fff;
	padding: 3px;
	line-height: 0px;
}
.offerimages .last {margin-right:0px;}

.offerimages .l a {
}

.offerbody dl {
	border-top: 1px #cccccc solid;
	margin: 10px 0;
}

.offerbody dt {float:left; width: 230px;border-bottom: 1px #cccccc solid;padding: 5px 0;}
.offerbody dd {margin:0px; float:left; width: 200px;border-bottom: 1px #cccccc solid;padding: 5px 0;}

.options ul, .options li {padding-left:0;margin-left:0;}
.options li {float:left;list-style: none;}
.options a {text-decoration:none; font-weight:bold;}

.row-header {border-bottom:1px #cccccc solid; font-weight:bold;background-color:#f0f0f0;}
.row-header div div {padding:2px;padding-bottom:10px;}
.row-header .clearfix div {padding:0px;}
.row {border-bottom: 1px #eeeeee solid; }
.row-b {background-color: #fbfbfb;}
.row-disabled {color:#cccccc!important;}
.cell-r {text-align:right;}
.cell-c {text-align:center;}
.coll-highlight div {color:#af1a1b;}

ul.menu {
	margin:0px;
	padding: 0px;
	margin-bottom:25px;
}
ul.menu li {
	list-style: none;
	background-color:#f9f9f9;
	border-top:1px #eeeeee solid;
	padding:4px;
}

ul.menu a {
	display:block;
	font-weight:bold;
}

ul.konto a {
	font-weight:normal;
}


div.breadcrumbsWrap {	
	margin: 0 0 5px 0;
	padding: 3px 0 3px 0;
}

ul.breadcrumbs {margin:0px;padding:0px;}
ul.breadcrumbs li {list-style:none;display:inline;padding-left: 0px;}
ul.breadcrumbs a {
    color: #006496;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px!important; 
    display: inline!important; }
ul.breadcrumbs li.bclast a {color: #006496; text-decoration: none;}
ul.breadcrumbs li.bcfirst {padding-left:0px;}

.a_breadcrumbsnext:before{
    content: '>';
    margin-right: 5px;
    font-size: 12px;
}

/* IS Icon Sprite */
.is {padding-left: 20px; line-height:18px; display:block; background-image: url('/obraz/icon-sprite.gif');background-repeat: no-repeat;}
.is-1 {}
.is-2 {background-position: 0 -18px;}
.is-3 {background-position: 0 -36px;}
.is-4 {background-position: 0 -54px;}
.is-5 {background-position: 0 -72px;}
.is-6 {background-position: 0 -90px;}
.is-7 {background-position: 0 -108px;}



.catMenuWrap h3 {color:#d44914;padding:5px;}
/*.catWrap {}
.catMenuWrap li {list-style: none;}
.catMenuWrap li {padding-top:5px;padding-bottom:5px;}
.catMenuWrap li li {padding-top:2px;padding-bottom:2px;}
.catMenuWrap li li, .catMenuWrap li li a {color: #111111;}
.catMenuWrap a, .catMenuWrap {color:#1C6485;}
.catMenuWrap .active {
	padding-left: 5px;
	background-color:#ffffff;
	border:1px #cccccc solid;
	border-right:0px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}*/

.stronaWrap {background-image: url('/obraz/catBg.gif');background-repeat: repeat-y;}

.lbNav li {list-style: none;}
.lbNav li {padding-top:5px;padding-bottom:5px;}
.lbNav li li {padding-top:2px;padding-bottom:2px;}
.lbNav li li, .catMenuWrap li li a {color: #111111;}
.lbNav a, .catMenuWrap {color:#1C6485;}
.lbNav .active {
	padding-left: 5px;
	background-color:#ffffff;
	border:1px #cccccc solid;
	border-right:0px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.infoBox {
	margin:5px;
	margin-right: 25px;
	border: 1px #82adbd solid;
	background-color: #ffffff;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}

.subCat {font-weight:bold; color:#cccccc;padding-left:5px;padding-bottom:5px;margin-bottom:5px;display:block;width:206px;border-bottom:1px #bbccd2 solid;}


.topMenu {
background-image: url('/obraz/menuBg.jpg');background-repeat: repeat-x;
}

.topMenu a {
	background-image: url('/obraz/topMenu.jpg');background-repeat: repeat-x;
	background-position: right bottom;
	padding-right:10px;
	height:27px;
	line-height: 27px;
	display: inline-block;
	margin-top:5px;
	margin-right:5px;
}
.topMenu a span {
	background-image: url('/obraz/topMenu.jpg');background-repeat: repeat-x;
	background-position: left bottom;
	height:27px;
	display: inline-block;
	padding-left: 10px;
	font-weight: bold;
}

.topMenu a.active {background-position: right top;}
.topMenu .active span {background-position: left top;color:#fff;}


.catMap ul li {float:left; width:20%;}
.catMap ul ul li {float:none; width:auto;}

.catMap ul li a {font-size:1.2em;color:#D44914; font-weight:bold;}
.catMap ul ul li a {font-size:1em;color:#191919; font-weight:normal;}
.selectCat select {width:300px;}




/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/




#a_header{
    background: url('../obraz/header-bg.png');
    height: 108px;
}

#a_logo{
    margin-top: 5px;
}

#a_header_menu a{
    color: #006496;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0px 20px;
}

#a_search{
    background: url('../obraz/search.png');
    height: 33px;
    width: 288px;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 0px;
    position: relative;
    padding: 5px 15px;
}

#a_search_button{
    background: transparent url('../obraz/magnifier.png');
    width: 28px;
    height: 24px;
    border: none;
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;
}

#a_search_input{
    font-size: 14px;
    color:#708289;
    font-weight: bold;
    width: 255px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

#slides{
    width: 900px;
    height: 200px;
    margin: auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 10px 0 #292929;
    box-shadow: 0 0 10px 0 #292929;
}



#a_catMenu {
    margin: 0px;
    padding: 0px;
}

#a_catMenu li{
    list-style: none;
    margin-bottom: 1px;
}
#a_catMenuAukcje li{
    list-style: none;
    margin-bottom: 1px;
    margin-left: -18px;
}

#a_catMenu li a{
    display: block;
    width: 180px;
    height: 32px;
    background: url('../obraz/menu-bg.png');
    line-height: 32px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px 0 5px;
    color: #fff;
}

#a_catMenuAukcje li a{
    display: block;
    width: 180px;
    height: 32px;
    background: url('../obraz/menu-bg-red.png');
    line-height: 32px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px 0 5px;
    color: #fff;
    list-style: none;
}
#a_catMenuAukcje li a:hover{
    background-position-y: 64px;
}


#a_catMenuAukcje li.active a{
    background-position-y: 32px;
	background: none repeat scroll 0 0 green;
    color: yellow;
}

#a_catMenuAukcje li a:hover{
    background-position-y: 64px;
}


#a_catMenu li.active a{
    background-position-y: 32px;
	background: none repeat scroll 0 0 green;
    color: yellow;
}

#a_catMenu li.a_menuAukcje,
#a_catMenu li.a_menuFundusze{
    margin-bottom: 2px;
}

#a_catMenu li.a_menuAukcje a,
#a_catMenu li.a_menuFundusze a{
    height: 31px;
    line-height: 31px;
}

#a_catMenu li.a_menuAukcje a{
    background: url('../obraz/menu-bg-red.png');
    
}

#a_catMenu li.a_menuFundusze a{
    background: url('../obraz/menu-yeloow.png');
    letter-spacing:-0.5px;
    font-size: 13px;
    padding: 0 10px 0 5px;
}

#a_catMenu li.a_menuAukcje a:hover,
#a_catMenu li.a_menuFundusze a:hover{
    background-position-y: 31px;
}

#a_catMenu li.a_menuAukcje.active a,
#a_catMenu li.a_menuFundusze.active a{
    background-position-y: 62px;
}

#a_add{
    margin-top: 10px;
}

.a_adoffer{
    width: 750px;
    -webkit-box-shadow: 0 0 10px 0 #292929;
    box-shadow: 0 0 10px 0 #292929;
    padding: 15px 15px 10px 15px;
    margin-bottom: 15px;
    position: relative;
    font-family: 'Oxygen', sans-serif;
}

.a_thumb>a>img{
    border: 3px solid #333333;
}

.a_title>a{
    color: #006496;
    font-size: 14px;
    
    text-transform: uppercase;
    text-decoration: none;
}
.a_title_bold>a{
    color: #006496;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.a_titleAddress{
    color: #006496;
    font-size: 12px;
}

.a_shortDesc{
    color: #333333;
    font-size: 10px;
}

.a_adCreatedAt{
    color: #8d9296;
    font-size: 9px;
    position: absolute;
    bottom: 5px;
    left: 230px;
}

.a_offer_right{
    color: #006496;
    text-align: right;
    position: relative;
    height: 100%;
    font-weight: bold;
}

.a_price{
    font-size: 20px;
}

.a_offerAttr{
    font-size: 14px;
    margin-top: 5px;
}

.a_priceType{
    margin-top: -5px;
}

a.a_offerMore{
    background: url('../obraz/btn-offer.png');
    background-position-y: 24px;
    width: 120px;
    height: 24px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 15px;
}

a.a_offerMore:active,
a.a_offerMore:hover{
    background-position-y: 0px;
}

.a_deleteFromWatchlist{
    text-decoration: none;
    font-size: 10px;
}

.a_fBox{
    height: 300px;
    background: #333333;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 25px 15px 25px;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.a_fBox h3{
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.a_fBox h2{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#footer .a_fBox a{
    color: #fff;
    text-decoration: none;
    padding: 0px;
}

#footer .a_fBox a:hover{
    color: #fff;
    text-decoration: underline;
}

#footer .a_fBox p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.a_fBox_top{
    height: 166px;
    width: 100%;
    border-bottom: 1px dashed #fff;
}

.a_fBox_title{
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
}

.a_fBox_mail{
    margin-top: 40px;
}

.a_fBox_mail a{
    font-size: 16px;
}

.a_fBox_mail span{
    font-size: 31px;
}

#a_footer_line{
    height: 10px;
    width: 100%;
    background: #006395;
    margin-top: 10px;
    margin-bottom: 5px;
}

#a_footer2,
#a_footer2 a{
    color: #333333;
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    padding: 0px;
}

#a_footer2{
    margin-bottom: 10px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-blue,
.text-blue a,
a.text-blue,
a.text-blue:hover{
    color: #006294;
}

#a_site{
    width: 980px;
    margin: auto;
    -webkit-box-shadow: 0 0 10px 0 #292929;
    box-shadow: 0 0 10px 0 #292929;
    box-sizing: border-box;
    padding-top: 7px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

h1{
    padding: 15px 40px;
    background: #006395;
    color: #fff;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 45px;
}

#a_siteContent{
    box-sizing: border-box;
    padding: 0px 40px 45px 40px;
}

.a_loginContent{
    box-sizing: border-box;
    padding: 0px 5px 10px 5px;
}

.a_login h1{
    margin-bottom: 10px;
}

.a_login{
    width: 480px;
    -webkit-box-shadow: 0 0 10px 0 #292929;
    box-shadow: 0 0 10px 0 #292929;
    min-height: 600px;
    box-sizing: border-box;
    padding-top: 7px;
    text-align: center;
    color: #333333;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.a_login_left{
    margin-right: 20px;
    margin-left: 10px;
}

.a_login input.text{
    width: 293px;
}

.a_label{
    width: 140px;
    float: left;
    height: 27px;
    line-height: 27px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 15px;
}

.a_label label{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #006294;
}

.a_input{
    width: 300px;
    margin-left: 150px;
    margin-bottom: 15px;
}

.a_input input.text{
    margin: 0px;
    padding: 0px;
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #969696;
}

.a_offer{
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 0 #292929;
    box-shadow: 0 0 10px 0 #292929;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 25px;
    float: right;
}

h2{
    color: #006496;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.a_offerimages{
    width: 470px;
}

.a_offerimages img{
    border: 3px solid #333333;
}

.a_offerimages .l{
    margin-right: 8px;
}

.a_offerimages .l.last{
    margin-right: 0px;
}

.a_offerAttrBox{
    width: 267px;
}

.a_offerAttrBox dt,
.a_offerAttrBox dd{
    width: 132px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    color: #006395;
    text-align: center;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    background: #c7c7c7;
    margin-bottom: 3px;
}

.a_offerAttrBox dt.a_row_a{
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
overflow: hidden;
width: 133px;
}
.a_offerAttrBox dd.a_row_a{
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  width: 133px;
}

.a_offerAttrBox dt.a_row_b{
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
overflow: hidden;
width: 133px;
}
.a_offerAttrBox dd.a_row_b{
    background: #e6e6e6;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  width: 133px;
}

.a_offerAttrBox dt{
    float: left;
}

.a_offerAttrBox dd{
    margin-left: 135px;
}


.a_offerAttrTitle,
.a_offerTitle{
    font-size: 14px;
    text-align: center;
    color: #006395;
    text-transform: uppercase;
    font-weight: bold;
}

.a_offerTitle{
    text-align: left;
    margin-bottom: 0px;
}

.a_map{
    width: 503px;
    padding: 6px;
    border: 3px solid #333333;
}

.a_offer_body{
    width: 520px;
}

.a_offer_contact{
    width: 200px;
    margin-left: 15px;
}

.a_offerTel{
    background: url(../obraz/tel.png) no-repeat left center;
    height: 33px;
    line-height: 33px;
    font-size: 18px;
    color: #006395;
    padding-left: 25px;
}
.a_zapytanieText{
    width: 200px;
    height: 12px;
    line-height: 22px;
    padding: 5px;
    border: 1px solid #969696;
}

#zapytanie{
    width: 200px;
    height: 194px;
    border: 1px solid #969696;
}

.a_offerMenu{
    list-style: none;
    padding: 0px;
    margin: 40px 0px 0px 0px;
}

.a_offerMenu li{
    display: block;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}

.a_ico {
    display: block;
    height: 24px;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position:left center;
    padding-left: 40px;
    color: #006294;
    text-decoration: none;
    font-weight: bold;
}

.a_printIco{
    background-image: url('../obraz/print.png')
}

.a_watchlistIco{
    background-image: url('../obraz/stars.png');
    
}

.a_abuseIco{
    background-image: url('../obraz/exclamationmark.png');
    background-position-x: 10px;
}

.justif
{
text-align: justify;
}

.index_gorny
{
font-size: 10px;
vertical-align: super;
}

.hidden
{
display: none;
}

.uplMiniature
{
margin: 2 2 2 2;
padding: 1px 1px 1px 1px;
border: 1px solid black;
}

input.unvalidated
{
border: 1px solid red;
}
select.unvalidated
{
border: 1px solid red;
}

.tnum
{
margin-left: 3px;
border: 1px solid #333333;
border-radius:3px;
background-color: #5595a7;
color: white;
padding: 3px;
font-size: 10px;
font-weight: bold;
}

#formerror 
{
display: none;
}
.error_hidden
{
background: #fbe3e4; 
color: #8a1f11; 
border-color: #fbc2c4;
padding: 2 px;
display: none;
}


10:07 2015-01-14

10:26 2015-01-14
