.slider .slides {
    z-index:100;
    position: relative;
}
.slider .slides_container {
    overflow:hidden;
    position:relative;
    width: 900px;
    height: 200px;
}

.slider .slides_container div.slide {
    display:block;
    width: 900px;
    height: 200px;
}

.slider .slide img{
}

.slider ul.pagination {
    z-index:101;
    padding: 0px;
    margin-top: 10px;
    text-align: center;
}

.slider .pagination li {
    text-align: center;
    margin:0 3px;
    list-style:none;
    display: inline-block
}

.slider .pagination li a {
    display:block;
    width:12px;
    height:12px;
    background-image:url(../img2/slider-pag.png);
    background-position:0 0px;
    overflow:hidden;
    text-indent: 1000px;
}

.slider .pagination li.current a {
    background-position:-12px 0;
}

.slider .caption {
    
}




