{if $error}
	{foreach $error as $err}
		{$err.0}<br/>
	{/foreach}
{/if}
{if $notice}
	{foreach $notice as $ntc}
		{$ntc.0}<br/>
	{/foreach}
{/if}
<form action={$site_url}user/register method=post>
<input type=hidden name=doRegister value=true>
<input type=hidden name=redirect value=index>
<input type=hidden name=token value="{$token}">
{if $CNF_LOGIN_METHOD eq "username"}
User:	<input type=text name=username><br/>
Email: 	<input type=text name=email><br/>
{else}
Email: <input type=text name=email><br/>
{/if}
Hasło: <input type=password name=password><br/>
Powt. Hasło: <input type=password name=rep_password>
<input type=submit value="{$lang.ButtonSignIn}">
</form>