
<div id="debug">
	<img alt="included files" /> Included: <span title="{section loop=$included_files name=id}{$included_files[id]}{/section}">{$included_files_c}</span>
	<img alt="memory" /> Memory: {$memory}/{$memory_limit}
<fieldset>
	<legend>Debug</legend>
	<ol>
	{section loop=$debug name=id}
	<li>{$debug[id].usec} <strong>{$debug[id].cat}</strong>: {$debug[id].msg}</li>
	{/section}
	</ol>
</fieldset>
</div>
