{if $mainCategories}
  <ul id="a_catMenu">
    {foreach from=$mainCategories item=main}
      {if $subCategory}
        
      {else}
        <li>
        <a href="{router->linkTo action=Kategorie subAction=show id=$main.cid idName=cid page=1 link=$main.link}">{$main.name}</a>
        </li>
      {/if}
    {/foreach}
  </ul>
{else}
{/if}

{if $catMenu.subCat and $catMenu.subCat.catId!=1}
<a class="subCat" href="{router->linkTo action=Kategorie slug=$catMenu.subCat.catSlug}"><span>{$catMenu.subCat.catTitle}</span></a>
{/if}	
<ul id="a_catMenu">
{foreach from=$catMenu.curchilds item=curChild}
{*if $curChild.stat>0*}
<li{if $curChild.catId==$cat.catId} class="active"{/if}>
	<a href="{router->linkTo action=Kategorie slug=$curChild.catSlug}">{$curChild.catTitle}</a>
	{if $curChild.catId==$catMenu.cat.catId}
	<ul>
		{foreach from=$catMenu.childs item=catChild}
		{*if $catChild.stat>0*}
		<li><a href="{router->linkTo action=Kategorie slug=$catChild.catSlug}">{$catChild.catTitle}</a></li>
		{*/if*}
		{/foreach}
	</ul>
	{/if}
</li>
{*/if*}
{foreachelse}
		{foreach from=$catMenu.childs item=catChild}
		{*if $catChild.stat>0*}
		<li><a href="{router->linkTo action=Kategorie slug=$catChild.catSlug}">{$catChild.catTitle}</a></li>
		{*/if*}
		
		{/foreach}
{/foreach}
<!--<li class="a_menuAukcje"><a href="#">Aukcje</a></li>
<li class="a_menuFundusze"><a href="#">fundusz wynajem mieszkań</a></li>-->
</ul>
<div id="a_add"><img src="themes/nawynajmij/img2/add.png"></div>