	<div class="row clearfix">
		<div class="col-md-12 column">
{include file='error.tpl'}
{include file='notice.tpl'}
			<h2>Kopia bazy danych</h2>
			<br/>
				<table class="table">
					<tbody>
						<tr class="success">
							<td width="100%"><b>{$text}</b></td>
						</tr>
			</table>
		</div>
	</div>
