	<div class="row clearfix">
		<div class="col-md-12 column">
{include file='error.tpl'}
{include file='notice.tpl'}
<h2>Szablony wiadomości email</h2>
			<div class="col-md-12 column">
				<table class="table">
					<tbody>
						{foreach $emaillist as $key => $value}
						<tr class="success">
							<td width="100%"><b>{$value.name_disp}</b></td>
						</tr>
						<tr>
							<td width="100%">
							<form action="{$site_url}panel/email/edit/template" method="post">
							<input type="hidden" name="token" value="{$token}">
							<input type="hidden" name="template" value="{$value.name}">
							<textarea name="email_body" rows="15" cols="80">{$value.content}</textarea>
							</td>
						</tr>
						<tr class="active">
						  <td width="100%">
							<input type="submit" value="zapisz"></form>
						  </td>
						</tr>
						<tr>
							<td width="100%">
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
			
		</div>
	</div>