	<div class="row clearfix">
		<div class="col-md-9 column">
{include file='error.tpl'}
{include file='notice.tpl'}
			<h2>Płatności / SMS</h2>
			<br/>
				<table class="table">
					<tbody>
						<tr class="success">
							<td width="15%"><b>Typ:</b></td>
							<td width="15%"><b>Wyróżnione:</b></td>
							<td width="15%"><b>Promowane:</b></td>
							<td width="15%"><b>Aukcja:</b></td>
							<td width="20%"><b>Czas:</b></td>
							<td width="20%"><b>Cena:</b></td>
							<td width="20%"><b></b></td>
						</tr>
						{foreach $paylist as $key => $value}
						  <tr>
							<td width="15%">{if $value.type eq "sms"}SMS{else}PRZELEW{/if}</td>
							<td width="15%">
							  {if $value.highlighted eq 1}
							    <font color="green">TAK</font>
							  {else}
							    NIE
							  {/if}
							</td>
							<td width="15%">
							  {if $value.positioned eq 1}
							    <font color="green">TAK</font>{else}NIE{/if}
							</td>
							<td width="15%">
							  {if $value.auction eq 1}
							    <font color="green">TAK</font>{else}NIE{/if}
							</td>
							<td width="15%">{$value.days} dni</td>
							<td width="20%"><form action="{$site_url}panel/payment" method="post">
							<input type="hidden" name="token" value="{$token}">
							<input type="hidden" name="price_id" value="{$value.id}">
							<input type="text" size="5" value="{$value.price}" name="price"> zł
							</td>
							<td width="20%"><input type="submit" value="zmień"></form></td>
						  </tr>
						{/foreach}
					</tbody>
				</table>
		</div>
	</div>