<div class="catWrap clearfix">
    <div class="catMenuWrap span-5">
		{include file="menucat.tpl"}     	
	 </div>
    <div class="catListWrap span-19 last">
    <h1>{$title}</h1>
    {$content}
    </div>
</div><div class="clearfix"></div>
