<body onLoad="document.forms['dotpay_form'].submit();">
<form action="https://ssl.dotpay.pl/" name="dotpay_form" method="post">
<input type="hidden" name="id" value="{$CNF_DOTPAY_ID}" />
<input type="hidden" name="kwota" value="{$amount}" />
<input type="hidden" name="opis" value="Opłata za ogłoszenie #: {$aid} | zamówienie: {$order_id}" />
<input type="hidden" name="control" value="{$secret}" />
<input type="hidden" name="url" value="{$site_url}" />
<input type="hidden" name="urlc" value="{$site_url}dotpay/get/" />
<input type="hidden" name="przelewyonline" value="1" />
<center><h2>Transakcja w trakcie realizacji zostaniesz automatycznie przeniesiony na stronę DotPay</h2>Jeśli przekierowanie nie nastąpiło w ciągu 5 sekund<br/><br/>
<input type="submit" value="Kliknij tutaj" />
</form></center>