        <div id="slides" class="slider">
    <div class="slides_container" style="overflow: hidden; position: relative; display: block;">
        <div class="slides_control" style="position: relative; width: 2700px; height: 200px; left: -900px;">
		<div class="slide" style="position: absolute; top: 0px; left: 900px; z-index: 0; display: none;"><img src="themes/nawynajmij/slider/1.jpg"></div>
		<div class="slide" style="position: absolute; top: 0px; left: 900px; z-index: 5; display: block;"><img src="themes/nawynajmij/slider/2.jpg"></div>
		<div class="slide" style="position: absolute; top: 0px; left: 900px; z-index: 0; display: none;"><img src="themes/nawynajmij/slider/3.jpg"></div>
	</div>
        
        
    </div>
<ul class="pagination">
<li class=""><a href="#">1</a></li>
<li class="current"><a href="#">2</a></li>
<li class=""><a href="#">3</a></li>
</ul>
</div><!-- /slides -->