<div class="catWrap clearfix">
    <div class="catMenuWrap span-5">
		{include file="account_menu.tpl"}     	
	 </div>
<div class="span-19 last">
<h1>{$title}</h1>
Aby aktywować ogłoszenie wyślij SMS na numer XXXX o treści YYYYYYY, w odpowiedzi otrzymasz kod, który należy podać poniżej.<br/><br/>
<form action="{$site_url}sms/index" method="post">
<input type="hidden" name="order_id" value="{$order_id}">
<input type="text" size="6" name="code"> <input type="submit" value="wyślij kod"></form>
</div>

</div>
<div class="clearfix"></div>